#Africa {
    width: 100%;
    background-image: url(https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2019/12/bg.jpg) , url(https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2019/12/Africa.png);
    background-repeat: repeat, no-repeat;
    background-blend-mode: darken;
    background-size: contain;
    background-position: 30%;
}
.mwidth373px {
    max-width: 373px;
}
.nosvaleurs {
    font-size: 70px;
}
.coverBackground {
    background-size: cover;
}
@media (max-width: 1199px) {
    .nosvaleurs {
        font-size: 65px;
        line-height: 65px;
    }
}
@media (max-width: 991px) {
    .nosvaleurs {
        font-size: 57px;
        line-height: 58px;
    }
}
@media (max-width: 767px) {

    .nosvaleurs {
        font-size: 37px;
        line-height: 42px;
    }
    .iOwnImg {
        width: 50%;
    }
    .iAmImg {
        width: 50%;
    }
    .weSurpriseImg {
        width: 70%;

    }
}

@media (min-width: 768px) {
    .coverBackground {
        background-size: contain;
    }
}