.__noBorder {
    border: none!important;
}
#metierRh {
    position: relative;
    z-index: 10;
}
#metierRh:after,#metierRh:before   {
    content: ' ';
    display:block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

#metierRh:after {
    background: rgba(0, 0, 0, .5);
    z-index: 8;
}
#metierRh:before {
    background-image: url(https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/06/Promodim_69@2x.jpg); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    z-index: 5;
}
#metierRh .position-relative {
    z-index: 10;
}

.overlay {
    position: relative;
}
.overlay:before, .overlay:after {
    content: ' ';
    display:block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(0, 0, 0, .3);
}

.overlay:after {
    background: rgba(0, 0, 0, .3);
    z-index: 8;
}
.overlay:before {
    background-image: attr(data-bg); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    z-index: 5;
}
.overlay .position-relative {
    z-index: 10;
}

.__workday {
    background-image: url('https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/Sitam_181.jpg');
}
.__usine {
    background-image: url('https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/Soctam_B_3.jpg');
}
.__distribution {
    background-image: url('https://actus.imperial-tobacco-madagascar.com/wp-content/uploads/2020/05/Soctam_88.jpg'); 
}

.hiden {
    display: none;
    position:relative;
    opacity: 0;
}


.visible {
    display: block!important;
    transition : all .5s;
    height: auto;
    opacity: 1!important;
}

.rotated {
    transform: rotate(180deg);
    transition: .5s all;
}

.rotated-0 {
    transform: rotate(0deg);
    transition: .5s all;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}